body {
    background-image: url('C:\\Users\\USER\\Documents\\GitHub\\Project\\hackathon\\src\\main\\resources\\templates\\back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
